lbforaging
rware
pettingzoo
vmas[gymnasium]
git+https://github.com/uoe-agents/matrix-games.git
git+https://github.com/uoe-agents/smaclite.git
pysc2==3.0.0
s2clientprotocol==4.10.1.75800.0
git+https://github.com/oxwhirl/smac.git
git+https://github.com/oxwhirl/smacv2.git
