absl-py
attrs
gym==0.21.0
idna
imageio
lbforaging
matplotlib
mpyq
numpy
pbr
Pillow
pluggy
portpicker
probscale
protobuf #==3.6.1
py #==1.6.0
pygame
pyparsing
pysc2
pytest
python-dateutil
PyYAML
requests
rware
s2clientprotocol
sacred
scipy
six==1.11.0
sk-video==1.1.10
snakeviz
tensorboard-logger
torch
torchvision
tornado
urllib3
websocket-client
whichcraft
wrapt
git+https://github.com/oxwhirl/smac.git
einops
google-auth<3
markdown
tensorboard-plugin-wit
werkzeug
requests-oauthlib