absl-py
attrs
gym==0.25.1
idna==2.7
imageio
lbforaging
matplotlib
mpyq==0.2.5
numpy
pbr==4.3.0
Pillow
pluggy==0.7.1
portpicker==1.2.0
probscale
protobuf==3.20.2
py==1.6.0
pygame
pyparsing==2.2.2
pysc2==3.0.0
pytest==4.3.1
python-dateutil==2.7.3
PyYAML==5.3.1
requests==2.28.2
rware
s2clientprotocol==4.10.1.75800.0
sacred
scipy
six==1.11.0
sk-video==1.1.10
snakeviz
tensorboard-logger
torch==1.13.0
torchvision==0.14.0
tornado==5.1.1
urllib3==1.26.14
websocket-client==1.5.1
whichcraft==0.5.2
wrapt==1.12.1
git+https://github.com/oxwhirl/smac.git
